html
  head
    title= 'Node Games'
    script(src='//code.jquery.com/jquery-2.2.0.min.js')
    script(src="/socket.io/socket.io.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    link(rel='stylesheet', href='/css/common.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    if warning
      .warning=warning
    != body
