html
  head
    title= 'Node Games'
    script(src='//code.jquery.com/jquery-1.7.1.min.js')
    script(src="/socket.io/socket.io.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    link(rel='stylesheet', href='/css/common.css')
  body
    if warning
      .warning=warning
    != body
