
.card {
  margin: 1em;
  width: 4em;
  height: 5.6em;
  line-height: 5.6;
  background-color: black;
  display: inline-block;
  font-size: 2em;
  border: 2px solid black;
}

.revealed {
  background-color: white;
}

.revealed.spade {
  color: black;
}

.revealed.club {
  color: black;
}

.revealed.heart {
  color: red;
}

.revealed.diamond {
  color: red;
}

.background--red {
  background-color: red;
}

.highlighted {
  background-color: rgb(176, 228, 185);
  border: 1px solid black;
}

.row {
  width: 900px;
  margin: 1em auto;
}

.sub-header {
  font-size: 1.5em;
  font-family: sans-serif;
  text-align: left;
  margin: 1em 0 0 3.5em;
}

.hand {
  margin: 1em;
}

.hand .card {
  margin: 0 1em;
}
