#game-board
  table {
    border-collapse: collapse;
    margin: auto;
    font-family: sans-serif;
  }

  table, th, td {
    border: 1px solid black;
  }

  .cell {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 2em;
  }

  .X {
    color: red;
  }

  .O {
    color: blue;
  }
