/******************
VIEWER LAYOUT
******************/

.viewer .game-header {
  position: fixed;
  width: 100%;
  height: 20%;
  top: 0;
  background-color: beige;
}

.viewer #page-content {
  position: fixed;
  width: 100%;
  height: 80%;
  bottom: 0;
}

.viewer .game-started #game-content {
  width: 70%;
  height: 100%;
  position: absolute;
  right: 0;
}

.viewer .game-started #game-content-container {
  width: 70%;
  height: 100%;
  position: absolute;
  right: 0;
}

.viewer .game-started #game-content {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
}

.viewer .game-started #win-counter-container {
  width: 70%;
  height: 10%;
  position: fixed;
  bottom: 0;
  right: 0;
}

.viewer .game-started #player-list-container {
  width: 30%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: green;
}

.player-list-vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.player-list-vertical .player-tag {
  margin: 0.3em 1em;
  background-color: wheat;
}

.leader-symbol {
  width: 1em;
  height: 1em;
  background-color: blue;
  display: inline-block;
  vertical-align: middle;
}

/******************
COMPONENTS
******************/

h1, h2, h3, h4 {
  text-align: center;
}

.button-inputs {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.button-inputs button {
  margin: 1em;
}

.space-around {
  justify-content: space-around;
}

.button.disabled {
  background-color: gray;
}

.player-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.player-tag {
  font-size: 2em;
  font-family: monospace;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.2em 1em;
  margin: 0 0.5em;
}

.choose-team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  padding: 1em;
  border-top: 2px solid black;
}

.counter {
  width: 19%;
  height: 100%;
  color: white;
  border: 5px solid black;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  font-size: 1.4em;
  text-transform: uppercase;
}

.counter.mafia {
  background-color: brown;
}

.counter.fbi {
  background-color: blue;
}

.takeover {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.takeover .content {
  margin: 1em auto;
  font-size: 2em;
}

/******************
FADE OUT DELAYED
******************/
.fade-out-delayed {
  animation: fadeoutdelayed 5s;
  animation-fill-mode: forwards;
}

@keyframes fadeoutdelayed {
  0%   {opacity: 0;}
  5%   {opacity: 1;}
  80%  {opacity: 1;}
  100%  {opacity: 0;}
}


/******************
FADE IN
******************/
.fade-in {
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    transform: scale(2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/******************
SCROLL UP
******************/
.scroll-up {
  animation: scrollup 0.5s;
}

@keyframes scrollup {
  from {
    transform: translateY(500px);
  }
  to {
    transform: translateY(0px);
  }
}
