/******************
VIEWER LAYOUT
******************/

.viewer .game-header {
  position: fixed;
  width: 100%;
  height: 25%;
  top: 0;
  background-color: brown;
}

.viewer #page-content {
  position: fixed;
  width: 100%;
  height: 75%;
  bottom: 0;
}

.viewer .game-started #game-content {
  width: 70%;
  height: 100%;
  position: absolute;
  right: 0;
}

.viewer .game-started #player-list-container {
  width: 30%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: green;
}

.player-list-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.player-list-vertical .player-tag {
  margin: 1em;
  background-color: wheat;
}

/******************
COMPONENTS
******************/

.button.disabled {
  background-color: gray;
}

.player-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.player-tag {
  font-size: 2em;
  font-family: monospace;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.2em 1em;
  margin: 0 0.5em;
}

.choose-team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  padding: 1em;
  border-top: 2px solid black;
}

/******************
FADE IN
******************/
.fade-in {
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    transform: scale(2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/******************
SCROLL UP
******************/
.scroll-up {
  animation: scrollup 0.5s;
}

@keyframes scrollup {
  from {
    transform: translateY(500px);
  }
  to {
    transform: translateY(0px);
  }
}
