.button.disabled {
  background-color: gray;
}

#players {
  width: 100%;
  display: flex;
  justify-content: center;
}

#players .player {
  font-size: 2em;
  font-family: monospace;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.2em 1em;
  margin: 0 0.5em;
}

.fade-in {
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    transform: scale(2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
