link(rel='stylesheet', href='/css/undercover.css')

#player-info(data-playerId=player.id, data-gameSlug=game.slug, data-status=game.serialize())

.game-header
  h1 Undercover
  h2 #{game.slug}

div#game-content

///////////////////////
/// WAITING FOR PLAYERS
///////////////////////
script(id="waiting-players-template" type='text/x-handlebars-template').
  <div id="start-button" class="button font--large disabled">
    WAITING FOR PLAYERS
  </div>
  <div id="players" class="player-list"></div>

////////////////
/// CHOOSE TEAM
////////////////
script(id="choosing-team-template" type="text/x-handlebars-template").
  <div class="choose-team">
    <h3>You are the leader</h3>
    <h4>Choose your team</h4>
    {{#each players}}
      <button type="button" class="btn btn-default btn-lg btn-block player-choice" data-player-id="{{id}}">{{name}}</button>
    {{/each}}
    <button type="button" class="btn btn-primary choose-team-button" disabled="disabled">Choose {{teamSize}} more</button>
  </div>

////////////////
/// APPROVE TEAM
////////////////
script(id="approve-team-template" type="text/x-handlebars-template").
  <div class="choose-team">
    <h3>{{name}} is the leader</h3>
    <h4>Please wait while they choose the team</h4>
  </div>

////////////////
/// PLAYER LIST
////////////////
script(id="player-list-template" type="text/x-handlebars-template").
  <div id="player-list" class="scroll-up player-list fixed-bottom">
    {{#each players}}
    <div class="player-tag">{{name}}</div>
    {{/each}}
  </div>

script(id="player-info-block-template" type='text/x-handlebars-template').
  <div class="fade-in player-tag">{{name}}</div>

////////////////
/// TEAM VOTE
////////////////
script(id="team-vote-template" type='text/x-handlebars-template').
  <h4>Do you approve of the team?</h4>
  <button type="button" class="btn btn-primary yes-button">Yes</button>
  <button type="button" class="btn btn-danger no-button">No</button>

script(id="voted-template" type='text/x-handlebars-template').
  <h4>Waiting for all the votes</h4>

////////////////
/// MISSION VOTE
////////////////
script(id="mission-vote-template" type='text/x-handlebars-template').
  <h4>Does the mission succeed?</h4>
  <button type="button" class="btn btn-primary yes-button">Yes</button>
  <button type="button" class="btn btn-danger no-button">No</button>

////////////////
/// GAME OVER
////////////////
script(id="finished-template" type='text/x-handlebars-template').
  <h4>The game is over</h4>

/////////////////
/// GENERIC MODAL
/////////////////
script(id="modal-template" type='text/x-handlebars-template').
  <div class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          <p>{{body}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Got It</button>
        </div>
      </div>
    </div>
  </div>

//// START THE CLIENT JS
script(src="/js/undercover.js")
script(type='text/javascript').
  $(function() {
    new Undercover();
  });
