link(rel='stylesheet', href='/css/undercover.css')

#game-info(data-gameSlug=game.slug, data-status=game.serialize(), data-minPlayers=5)

.viewer
  .game-header
    h1 Undercover
    h2 #{game.slug}

  #page-content
    #player-list-container
    #game-content

///////////////////////
/// WAITING FOR PLAYERS
///////////////////////
script(id="waiting-players-template" type='text/x-handlebars-template').
  <h1>Waiting For Players <small class="waitingForPlayersSubHeadline">Looking for at least <span class="playerCount">5</span> more players</small></h1>
  <div id="players" class="player-list"></div>

///////////////////////
/// WAITING FOR TEAM
///////////////////////
script(id="waiting-for-team-template" type='text/x-handlebars-template').
  <h1>Waiting For {{name}} to pick {{teamsize}} people to send on a mission</h1>

///////////////////////
/// TEAM VOTE
///////////////////////
script(id="team-vote-template" type='text/x-handlebars-template').
  <h1>{{name}} has picked a team.  Vote to approve</h1>
  <div class="scroll-up player-list-vertical">
    {{#each players}}
      <div class="player-tag">{{name}}</div>
    {{/each}}
  </div>

///////////////////////
/// MISSION VOTE
///////////////////////
script(id="mission-vote-template" type='text/x-handlebars-template').
  <h1>{{name}}'s team is on a mission. Waiting for results</h1>
  <div class="scroll-up player-list-vertical">
    {{#each players}}
      <div class="player-tag">{{name}}</div>
    {{/each}}
  </div>

///////////////////////
/// FINISHED
///////////////////////
script(id="finished-template" type='text/x-handlebars-template').
  <h1>The {{winner}} has won the game!</h1>

////////////////
/// PLAYER LIST
////////////////
script(id="player-list-sidebar-template" type="text/x-handlebars-template").
  <div id="player-list" class="player-list-vertical space-around {{#if animated}}'scroll-up'{{/if}}">
    {{#each players}}
    <div>
      <div class="player-tag">
        {{name}}
        {{#if isLeader}}
          <div class="leader-symbol"></div>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>

script(id="player-info-block-template" type='text/x-handlebars-template').
  <div class="fade-in player-tag">{{name}}</div>

//// START THE VIEWER JS
script(src="/js/undercover_viewer.js")
script(type='text/javascript').
  $(function() {
    new UndercoverViewer();
  });
